<div class="card w-90 px-5 py-5">
  <form [formGroup]="userProfile" (ngSubmit)="handleSubmitForm()">
    <div class="form-group">
      <label for="doctorName">Doctor</label>
      <select
        formControlName="doctorName"
        class="form-control"
        id="doctorName"
        (change)="handleDrSelection($event)"
      >
      <option value="">Select Doctor</option>
      <option *ngFor="let doctor of doctorObject" [value]="doctor.name">
      {{doctor.name}}
      </option>
    </select>
    </div>
    <div class="form-group">
      <label for="doctorFees">Doctor Fees</label>
      <input
        formControlName="doctorFees"
        type="text"
        class="form-control"
        id="doctorFees"
        placeholder="doctorFees"
      >
    </div>
    <div class="form-group">
      <button
        class="btn btn-primary float-right"
        [disabled]="userProfile.invalid"
      >
        Submit
      </button>
    </div>
  </form>
  <div class="form-group">
    <button class="btn btn-primary float-right" (click)="updateForm()">
      Update Form
    </button>
  </div>
</div>
